*{
    margin: 0;
    padding: 0;
    font-family: "Mulish", serif;

}

body{
    background: #B3B7EE;
}

.container{
    width: 600px;
    max-width: 400px;
    margin: 200px auto;
    padding: 35px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    text-align: center;


}

h3{
    text-align: center;
    position: relative;
    margin-bottom: 40px;

    
}

h3::after{
    content: '';
    width: 70px;
    height: 4px;
    background-color: #5d77cc;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

blockquote{
    font-size: 18px;
    /* min-height: 110px; */
    font-weight: light;
}

blockquote::before, blockquote::after{
    content: '"';
}

.btns{
   width: 100%;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   font-weight:200;
   
}

.btns button{
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    outline: none;
    background-color: #0f53d1;
    color: white;
}

.btns button img{
    width: 20px;
    display: block;
}

span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.btns button.share{
    background-color: #fff;
    color: #000;
    border: 2px solid #111;
    display: flex;
    align-items: center;
    gap: 10px;
}
span::before{
    content: '';
    width: 20px;
    height: 4px;
    background-color: #5d77cc;
    position: absolute;
    left: -25px;
    bottom: 80%;
    transform: translateY(50%);


}

@media (max-width:760px) {
    .container{
        width: 500px;
        max-width: 350px;
    }
    
    blockquote{
        font-size: 16px;
    }
}

